body {
  background-color: blue;
}

p {
  color: orange;
  font-family: sans-serif;;

}

h1 {
  color: orange;
  text-align: center;
  -webkit-animation-name: move;
  -webkit-animation-duration: 5s;
  position: relative;
  animation-name: move;
  animation-duration: 5s;
}

@keyframes move {
  0% {left: 0px; right: 0px;}
  25% {left: 200px; right: 0px;}
  100% {left: 0px; right: 0px;}
}

@-webkit-keyframes move {
  0% {left: 0px; right: 0px;}
  25% {left: 200px; right: 0px;}
  100% {left: 0px; right: 0px;}
}

nav {

  border-style: double;
  border-left:  none;
  border-right: none;
  border-color: red;
  text-align: center;
}

ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {

  display: inline-block;

}

li a {

  color: yellow;
  padding: 0px 50px 0px 50px;
  text-decoration: none;
}

table {

  width: 100%;
}

img {

  width: 200px;
  height: 200px;
  -webkit-transition: width 3s, height 3s;
}

img:hover {
  width: 400px;
  height: 400px;
}

td {

  padding: 10px;
}

.power {

  width: 200px;
}

#active {


  background-color: red;
  height: 2px;
}

.foot {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#title {
  text-decoration: none;
  color: orange;
}

#center {
  text-align: center;
}

@media only screen and (max-width: 575px) {

  th {
    display: block;
  }

  li {
    display: block;
  }
}
